<div class="main">
  <div class="square sq1">B</div>
  <div class="square sq2">I</div>
  <div class="square sq3">N</div>
  <div class="square sq4">G</div>
  <div class="square sq5">O</div>
  <div class="square sq6">A</div>
  <div class="square sq7">A</div>
  <div class="square sq8">A</div>
  <div class="square sq9">A</div>
  <div class="square sq10">A</div>
  <div class="square sq11">A</div>
  <div class="square sq12">A</div>
  <div class="square sq13">A</div>
  <div class="square sq14">A</div>
  <div class="square sq15">A</div>
  <div class="square sq16">A</div>
  <div class="square sq17">A</div>
  <div class="square sq18">A</div>
  <div class="square sq19">A</div>
  <div class="square sq20">A</div>
  <div class="square sq21">A</div>
  <div class="square sq22">A</div>
  <div class="square sq23">A</div>
  <div class="square sq24">A</div>
  <div class="square sq25">A</div>
  <div class="square sq26">A</div>
  <div class="square sq27">A</div>
  <div class="square sq28">A</div>
  <div class="square sq29">A</div>
  <div class="square sq30">A</div>
</div>