/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  box-sizing: border-box;
}

.main {
  width: 470px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-column-gap: 5px;
  grid-row-gap: 5px; 
}

.square {
  padding-top: 31px;
  padding-bottom: 31px;
  font-size: 28px;
  text-align: center;
  align-self: center;
  height: 90px;
  width: 90px;
}

.announcement {
  padding-top: 31px;
  padding-bottom: 31px;
  font-size: 28px;
  text-align: center;
  align-self: center;
  height: 90px;
  background-color: lightgreen;
}

button {
  padding: 10px;
}

.sq31 {
  background-color: limegreen;
}

.sq32 {
  background-color: lightcoral;
}

.sq33 {
  background-color: dodgerblue;
}

.sq-header {
  background-color: pink;
}

.sq-body {
  background-color: #e2e2e2;
}
.sq-selected, .sq-free {
  background-color: lightskyblue;
}

.sq1 { grid-area: 1 / 1 / 2 / 2; } 
.sq2 { grid-area: 1 / 2 / 2 / 3; } 
.sq3 { grid-area: 1 / 3 / 2 / 4; } 
.sq4 { grid-area: 1 / 4 / 2 / 5; } 
.sq5 { grid-area: 1 / 5 / 2 / 6; } 
.sq6 { grid-area: 2 / 1 / 3 / 2; } 
.sq7 { grid-area: 2 / 2 / 3 / 3; } 
.sq8 { grid-area: 2 / 3 / 3 / 4; } 
.sq9 { grid-area: 2 / 4 / 3 / 5; } 
.sq10 { grid-area: 2 / 5 / 3 / 6; } 
.sq11 { grid-area: 3 / 1 / 4 / 2; } 
.sq12 { grid-area: 3 / 2 / 4 / 3; } 
.sq13 { grid-area: 3 / 3 / 4 / 4; } 
.sq14 { grid-area: 3 / 4 / 4 / 5; } 
.sq15 { grid-area: 3 / 5 / 4 / 6; } 
.sq16 { grid-area: 4 / 1 / 5 / 2; } 
.sq17 { grid-area: 4 / 2 / 5 / 3; } 
.sq18 { grid-area: 4 / 3 / 5 / 4; } 
.sq19 { grid-area: 4 / 4 / 5 / 5; } 
.sq20 { grid-area: 4 / 5 / 5 / 6; } 
.sq21 { grid-area: 5 / 1 / 6 / 2; } 
.sq22 { grid-area: 5 / 2 / 6 / 3; } 
.sq23 { grid-area: 5 / 3 / 6 / 4; } 
.sq24 { grid-area: 5 / 4 / 6 / 5; } 
.sq25 { grid-area: 5 / 5 / 6 / 6; } 
.sq26 { grid-area: 6 / 1 / 7 / 2; } 
.sq27 { grid-area: 6 / 2 / 7 / 3; } 
.sq28 { grid-area: 6 / 3 / 7 / 4; } 
.sq29 { grid-area: 6 / 4 / 7 / 5; } 
.sq30 { grid-area: 6 / 5 / 7 / 6; }
.sq31 { grid-area: 7 / 1 / 8 / 3; }
.sq32 { grid-area: 7 / 3 / 8 / 4; }
.sq33 { grid-area: 7 / 4 / 8 / 6; }
.sq34 { grid-area: 8 / 1 / 9 / 6; }
.sq35 { grid-area: 9 / 1 / 10 / 6; }

.picks {
  background-color: #e2e2e2;
}